body {
  font-size: 130%;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.content {
  width: 450px;
  margin: 0 auto;
  text-align: center;
}

.hidden {
  display: none;
}

.results {
  height: 80px;
}

.success, .right {
  color: green;
}

.failure, .wrong {
  color: red;
}

.score {
  color: #000;
  padding-left: 10px;
}

.play {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  font-size: 40px;
  line-height: 80px;
  padding-left: 5px;
  background-color: #000;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pokemon-sprite {
  width: 80px;
  height: 73px;
}

.play {
  cursor: pointer;
}

.options {
  margin-top: 30px;
}

.option {
  border-radius: 30px;
  border: 1px solid #333;
  margin: 3px;
}

.option.disabled {
  background-color: #dcdcdc;
}

.option:hover:not(.disabled),
.gens .gen:hover,
.gens .gen.enabled {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

.option:hover:active,
.gens .gen:hover:active {
  color: grey;
}

.gens-title {
  margin-top: 30px;
}

.gens .gen {
  display: inline-block;
  position: relative;
  bottom: 0;
  border: 1px solid grey;
  border-radius: 5px;
  width: 30px;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::before,
[data-tooltip]::after {
  visibility: hidden;
  opacity: 0;
}

[data-tooltip]::before {
  z-index: 999;
  content: attr(data-tooltip);
  background: black;
  border: 1px solid black;
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  text-align: center;
  filter: drop-shadow(2px 2px 2px hsla(0, 0%, 20%, 0.9));
  white-space: nowrap;
}

[data-tooltip]::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  margin-bottom: 5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  visibility: visible;
  opacity: 1;
}

.end-screen {
  position: absolute;
  top: 50px;
  left: 50px;
  width: calc(100% - 200px);
  height: 100%;
}

.end-screen > div {
  display: inline-block;
  cursor: pointer;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 720px) {
  body {
    font-size: 250%;
  }

  .content {
    width: 90%;
  }

  .play {
    width: 240px;
    height: 240px;
    font-size: 120px;
    line-height: 240px;
    padding-left: 15px;
  }

  .pokemon-sprite {
    width: 240px;
    height: 219px;
  }

  .option {
    line-height: 200%;
  }

  .gens-title {
    margin-top: 60px;
    margin-bottom: 10px;
  }

  .gens .gen {
    border-radus: 10px;
    width: 90px;
    line-height: 200%;
  }
}
